<!-- navigation_bar.html -->


<style>
    /* reset */


    /* setting */
    /* div-header */
    .div-header {
        display: flex;
    }
    .div-header a {
        margin-right: 2rem;
    }
    .a-varzeny {
        color: blueviolet;
        font-size: 2rem;
    }
    .a-home {
        color: goldenrod;
    }

    /* nav */
    .ul-navbar {
        display: flex;
    }
    .ul-navbar a {
        color: #aaa;
        font-size: 1.5rem;
        margin-right: 2rem;
    }


</style>

<div class="div-header">
    <a class="a-varzeny" href="https://varzeny.com">Varzeny</a>
    <a class="a-home" href="https://varzeny.com/fin_eye">
        <h1>FinEye</h1>
    </a>
</div>

<nav>
    <hr/>
    <ul class="ul-navbar">
        <li><a href="https://varzeny.com/fin_eye">HOME</a></li>
        <li><a href="">Local</a></li>
    </ul>
    <hr/>
</nav>
